<%- include('layouts/header') %>


<section class="bg-light">
    <div class="container">
        <!-- Breadcrumb -->
        <ul class="breadcrumbs mb-4 text-center">
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__url">
                    <i class="fa fa-home"></i> Home</a>
            </li>
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__url"><%= news.category %></span>
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--current">
                <%= news.title %>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-12">
                <div class="go__explore-title">
                    <h1><%= news.title %></h1>
                    <p><%= news.description %></p>
                </div>

                <hr>
                <div class="wrap__article-detail-info">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span>by</span>
                            <a href="article-detail-v3.html#">
                                <%= news.author %>
                            </a>
                        </li>
                        <li class="list-inline-item">
                                <span class="text-dark text-capitalize ml-1">
                                    <%= news.created_at %>
                                </span>
                        </li>
                        <li class="list-inline-item">
                                <span class="text-dark text-capitalize">
                                    in
                                </span>
                            <a href="article-detail-v3.html#">
                                <%= news.category %>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--                <figure>-->
                <!--                    <img src="/uploads/<%= news.avatar[0] %>" alt="" class="img-fluid">-->
                <!--                </figure>-->
                <div class="row" style="margin: 50px 0">
                    <% news.avatar.forEach(i => { %>
                        <div class="col-sm-12 col-md-4 col-lg-2 detail-imgs">
                            <img src="/uploads/<%= i %>" alt="">
                        </div>
                    <% }) %>
                </div>


                <div class="wrap__article-detail-content">
                    <div class="total-views">
                        <div class="total-views-read">
                            15.k
                            <span>views</span>
                        </div>

                        <!--                        tags-->
                        <ul class="list-inline">

                            <li class="list-inline-item">
                                <a class="btn btn-social-o facebook" href="article-detail-v3.html#">
                                    <i class="fa fa-facebook-f"></i>
                                    <span>facebook</span>
                                </a>

                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-social-o twitter" href="article-detail-v3.html#">
                                    <i class="fa fa-twitter"></i>
                                    <span>twitter</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-social-o whatsapp" href="article-detail-v3.html#">
                                    <i class="fa fa-whatsapp"></i>
                                    <span>whatsapp</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-social-o telegram" href="article-detail-v3.html#">
                                    <i class="fa fa-telegram"></i>
                                    <span>telegram</span>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a class="btn btn-linkedin-o linkedin" href="article-detail-v3.html#">
                                    <i class="fa fa-linkedin"></i>
                                    <span>linkedin</span>
                                </a>
                            </li>

                        </ul>
                        <!--                        tags end-->
                    </div>
                    <p class="has-drop-cap-container ">
                        <%= news.description %>
                    </p>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <iframe width="100%" height="611" src="https://www.youtube.com/embed/<%= news.video %>"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>


                    <div class="col-md-10 mx-auto">
                        <div class="text-center">
                            <!-- News Tags -->
                            <div class="blog-tags">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <i class="fa fa-tags">
                                        </i>
                                    </li>
                                    <% news.tag.forEach(tag => { %>
                                        <li class="list-inline-item">
                                            <a href="">
                                                <%= tag %>
                                            </a>
                                        </li>
                                    <% }) %>

                                </ul>
                            </div>
                        </div>


                        <div class="row">
                            <% if(prev[0]) { %>
                                <div class="col-md-6">
                                    <div class="single_navigation-prev mb-5">
                                        <a href="/article-detail/<%= prev[0].id %>">
                                            <span>previous post</span>
                                            <%= prev[0].title %>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                            <% if(next[0]) { %>
                                <div class="col-md-6">
                                    <div class="single_navigation-next text-left text-md-right mb-5">
                                        <a href="/article-detail/<%= next[0].id %>">
                                            <span>next post</span>
                                            <%= next[0].title %>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('layouts/footer') %>