<%- include('layouts/header') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Breadcrumb -->
                <ul class="breadcrumbs bg-light mb-4">
                    <li class="breadcrumbs__item">
                        <a href="/" class="breadcrumbs__url">
                            <i class="fa fa-home"></i> Գլխավոր</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__url">Լուրեր</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <aside class="wrapper__list__article ">
                    <h4 class="border_section">Լուրեր</h4>

                    <div class="row">
                        <% news.forEach(i => { %>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <!-- Post Article -->
                                <div class="article__entry">
                                    <div class="article__image">
                                        <a href="/article-detail/<%= i.id %>">
                                            <img src="/uploads/<%= i.avatar[0] %>" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="article__content">
                                        <h5>
                                            <a href="/article-detail/<%= i.id %>">
                                                <%= i.title %>
                                            </a>
                                        </h5>
                                        <div class="article__category">
                                            <%= i.category %>
                                        </div>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <span class="text-primary">
                                                    by <%= i.author %>
                                                </span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="text-dark text-capitalize">
                                                    <%= i.created_at %>
                                                </span>
                                            </li>
                                        </ul>
                                        <a href="/article-detail/<%= i.id %>"
                                           class="btn btn-outline-primary mb-4 text-capitalize">Կարդալ ավելին</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </aside>
                <!-- Pagination -->
                <div class="pagination-area">
                    <% if(news.length !== 0) { %>
                        <% if (pages > 0) { %>
                            <div class="pagination wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s"
                                 style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                                <% if (current == 1) { %>
                                    <a>First</a>
                                <% } else { %>
                                    <a href="/category/1">First</a>
                                <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                    <a>...</a>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                        <a><%= i %></a>
                                    <% } else { %>
                                        <a href="/category/<%= i %>"><%= i %></a>
                                    <% } %>
                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                        <a>...</a>
                                    <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                    <a>Last</a>
                                <% } else { %>
                                    <a href="/category/<%= pages %>">Last</a>
                                <% } %>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-sticky">
                    <% if(live[0]) { %>
                        <aside class="wrapper__list__article">
                            <h4 class="border_section">Ուղիղ եթեր</h4>
                            <div id="iframe_id">
                                <%= live[0].iframe %>
                            </div>

                        </aside>
                    <% } %>
                    <!-- social media -->

                    <aside class="wrapper__list__article">
                        <h4 class="border_section">Facebook</h4>
                        <!-- widget Social media -->
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FArmnewstime-815333275475715&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                width="340" height="500" style="border:none;overflow:hidden" scrolling="no"
                                frameborder="0" allowTransparency="true" allow="encrypted-media">
                        </iframe>
                    </aside>
                    <!-- end social media -->

                    <!-- tags -->
                    <aside class="wrapper__list__article">
                        <h4 class="border_section">Նշումներ</h4>
                        <div class="blog-tags p-0">
                            <ul class="list-inline">
                                <% tags.forEach(tag => { %>
                                    <li class="list-inline-item">
                                        <a href="homepage-v1.html#">
                                            <%= tag %>
                                        </a>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </aside>
                    <!-- end tags -->
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <hr>
        <!-- Popular news carousel -->
        <div class="popular__news-header-carousel mt-5">
            <div class="container">
                <h4 class="border_section mb-3">Տեսանյութեր</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top__news__slider">
                            <% news.forEach(i => { %>
                                <% if(i.video) { %>
                                    <div class="item">
                                        <!-- Post Article -->
                                        <div class="article__entry">
                                            <div class="article__image">
                                                <a href="/article-detail/<%= i.id %>">
                                                    <iframe width="100%" height="250px"
                                                            src="https://www.youtube.com/embed/<%= i.video %>"
                                                            frameborder="0"
                                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                            allowfullscreen>
                                                    </iframe>
                                                </a>
                                            </div>
                                            <div class="article__content">
                                                <h5>
                                                    <a href="/article-detail/<%= i.id %>">
                                                        <%= i.title %>
                                                    </a>
                                                </h5>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
												<span class="text-primary">
													<%= i.author %>
												</span>
                                                    </li>

                                                    <li class="list-inline-item">
												<span class="date">
													<%= i.date %>
												</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Popular news carousel -->
    </div>
</section>


<script type="text/javascript">
    if (document.getElementById('iframe_id').innerText) {
        let iframe = document.getElementById('iframe_id').innerText
        let todo = new DOMParser().parseFromString(iframe, 'text/html')
        document.getElementById('iframe_id').innerHTML = ''
        document.getElementById('iframe_id').appendChild(todo.body)
    }

</script>

<%- include('layouts/footer') %>