<%- include('layouts/header') %>


<!-- Tranding news  carousel-->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapp__list__article-responsive wrapp__list__article-responsive-carousel">
                    <% header_news.forEach(i => { %>
                        <div class="item">
                            <!-- Post Article -->
                            <div class="card__post card__post-list">
                                <div class="image-sm">
                                    <a href="/article-detail/<%= i.id %>">
                                        <img src="/uploads/<%= i.avatar[0] %>" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="card__post__body ">
                                    <div class="card__post__content">
                                        <div class="card__post__title">
                                            <h6>
                                                <a href="/article-detail/<%= i.id %>">
                                                    <%= i.title %>
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="card__post__author-info mb-2">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
													<span class="text-primary">
														<%= i.author %>
													</span>
                                                </li>
                                                <li class="list-inline-item">
													<span class="text-dark text-capitalize date">
														<%= i.created_at %>
													</span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Tranding news carousel -->


<!-- Popular news -->
<section>
    <!-- Popular news  header-->
    <div class="popular__news-header">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-8 ">
                    <div class="card__post-carousel">
                        <% special_news.forEach(i => { %>
                            <div class="item">
                                <!-- Post Article -->
                                <div class="card__post">
                                    <div class="card__post__body">
                                        <a href="/article-detail/<%= i.id %>">
                                            <img src="/uploads/<%= i.avatar[0] %>" class="img-fluid" alt="">
                                        </a>
                                        <div class="card__post__content bg__post-cover">
                                            <div class="card__post__category">
                                                <%= i.category %>
                                            </div>
                                            <div class="card__post__title">
                                                <h2>
                                                    <a href="/article-detail/<%= i.id %>">
                                                        <%= i.title %>
                                                    </a>
                                                </h2>
                                            </div>
                                            <div class="card__post__author-info">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <span><%= i.author %></span>
                                                    </li>
                                                    <li class="list-inline-item">
														<span class="date">
															<%= i.created_at %>
														</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="popular__news-right">
                        <!-- Post Article -->
                        <div class="card__post ">
                            <div class="card__post__body card__post__transition">
                                <a href="/article-detail/<%= special_news[1].id %>">
                                    <img src="/uploads/<%= special_news[1].avatar[0] %>" class="img-fluid" alt="">
                                </a>
                                <div class="card__post__content bg__post-cover">
                                    <div class="card__post__category">
                                        <%= special_news[1].category %>
                                    </div>
                                    <div class="card__post__title">
                                        <h5>
                                            <a href="/article-detail/<%= special_news[1].id %>"><%= special_news[1].title %></a>
                                        </h5>
                                    </div>
                                    <div class="card__post__author-info">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <span><%= special_news[1].author %></span>
                                            </li>
                                            <li class="list-inline-item">
													<span class="date">
														<%= special_news[1].created_at %>
													</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Post Article -->
                        <div class="card__post ">
                            <div class="card__post__body card__post__transition">
                                <a href="/article-detail/<%= special_news[2].id %>">
                                    <img src="/uploads/<%= special_news[2].avatar[0] %>" class="img-fluid" alt="">
                                </a>
                                <div class="card__post__content bg__post-cover">
                                    <div class="card__post__category">
                                        <%= special_news[2].category %>
                                    </div>
                                    <div class="card__post__title">
                                        <h5>
                                            <a href="/article-detail/<%= special_news[2].id %>"><%= special_news[2].title %></a>
                                        </h5>
                                    </div>
                                    <div class="card__post__author-info">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <span><%= special_news[2].author %></span>
                                            </li>
                                            <li class="list-inline-item">
													<span class="date">
														<%= special_news[2].created_at %>
													</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Popular news header-->
</section>
<!-- End Popular news -->

<!-- Popular news category -->
<section class="pt-0">
    <!-- Popular news category -->
    <div class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <aside class="wrapper__list__article">
                        <h4 class="border_section">Լուրեր</h4>

                        <div class="wrapp__list__article-responsive">
                            <!-- Post Article List -->
                            <% news_list.forEach(i => { %>
                                <div class="card__post card__post-list card__post__transition mt-30">
                                    <div class="row ">
                                        <div class="col-md-5">
                                            <div class="card__post__transition">
                                                <a href="/article-detail/<%= i.id %>">
                                                    <img src="/uploads/<%= i.avatar[0] %>" class="img-fluid w-100"
                                                         alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 my-auto pl-0">
                                            <div class="card__post__body ">
                                                <div class="card__post__content  ">
                                                    <div class="card__post__title">
                                                        <h5>
                                                            <a href="/article-detail/<%= i.id %>">
                                                                <%= i.title %>
                                                            </a>
                                                        </h5>
                                                        <p class="d-none d-lg-block d-xl-block mb-0">
                                                            <!--                                                             i.description %>-->
                                                        </p>
                                                    </div>
                                                    <div class="card__post__category ">
                                                        <%= i.category %>
                                                    </div>
                                                    <div class="card__post__author-info mb-2">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item mb-3 mt-3">
																<span class="text-primary">
																	<%= i.author %>
																</span>
                                                            </li>
                                                            <br>
                                                            <li class="list-inline-item">
																<span class="text-dark text-capitalize date">
																	<%= i.created_at %>
																</span>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </aside>
                </div>

                <div class="col-md-4">
                    <div class="sidebar-sticky">
                        <% if(live[0]) { %>
                            <aside class="wrapper__list__article">
                                <h4 class="border_section">Ուղիղ եթեր</h4>
                                <div id="iframe_id">
                                    <%= live[0].iframe %>
                                </div>

                            </aside>
                        <% } %>
                        <!-- social media -->

                        <aside class="wrapper__list__article">
                            <h4 class="border_section">Facebook</h4>
                            <!-- widget Social media -->
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FArmnewstime-815333275475715&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                    width="340" height="500" style="border:none;overflow:hidden" scrolling="no"
                                    frameborder="0" allowTransparency="true" allow="encrypted-media">
                            </iframe>
                        </aside>
                        <!-- end social media -->

                        <!-- tags -->
                        <aside class="wrapper__list__article">
                            <h4 class="border_section">Նշումներ</h4>
                            <div class="blog-tags p-0">
                                <ul class="list-inline">
                                    <% tags.forEach(tag => { %>
                                        <li class="list-inline-item">
                                            <a href="/category/1">
                                                <%= tag %>
                                            </a>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
                        </aside>
                        <!-- end tags -->
                    </div>
                </div>
                <div class="mx-auto">
                    <!-- Pagination -->
                    <a href="/category/1" class="btn btn-danger">Դիտել ավելին</a>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <hr>

    <!-- Popular news carousel -->
    <div class="popular__news-header-carousel mt-5">
        <div class="container">
            <h4 class="border_section mb-3">Տեսանյութեր</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="top__news__slider">
                        <% news.forEach(i => { %>
                            <% if(i.video) { %>
                                <div class="item">
                                    <!-- Post Article -->
                                    <div class="article__entry">
                                        <div class="article__image">
                                            <a href="/article-detail/<%= i.id %>">
                                                <iframe width="100%" height="250px"
                                                        src="https://www.youtube.com/embed/<%= i.video %>"
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen>
                                                </iframe>
                                            </a>
                                        </div>
                                        <div class="article__content">
                                            <h5>
                                                <a href="/article-detail/<%= i.id %>">
                                                    <%= i.title %>
                                                </a>
                                            </h5>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
												<span class="text-primary">
													<%= i.author %>
												</span>
                                                </li>

                                                <li class="list-inline-item">
												<span class="date">
													<%= i.date %>
												</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Popular news carousel -->
</section>
<!-- End Popular news category -->

<script type="text/javascript">
    if (document.getElementById('iframe_id').innerText) {
        let iframe = document.getElementById('iframe_id').innerText
        let todo = new DOMParser().parseFromString(iframe, 'text/html')
        document.getElementById('iframe_id').innerHTML = ''
        document.getElementById('iframe_id').appendChild(todo.body)
    }

</script>

<%- include('layouts/footer') %>
